.page {
  max-width: 1280px;
  min-height: 6875px;
  margin: 0 auto;
  background-color: #2A2C2F;
}

@media screen and (max-width: 1024px) {
  .page {
    max-width: 1024px;
    min-height: 6895px;
  }
}

@media screen and (max-width: 768px) {
  .page {
    max-width: 768px;
    min-height: 6855px;
  }
}

@media screen and (max-width: 320px) {
  .page {
    max-width: 320px;
    min-height: 9620px;
  }
}
