.page__header {
  max-width: 2048px;
  padding-top: 28px;
  margin: 0 auto;
}

@media screen and (max-width: 2560px) {
  .header {
    max-width: 80vw;
    padding-left: 48px;
    padding-right: 48px;

  }
}

@media screen and (max-width: 768px) {
  .page__header {
    padding-left: 24px;
    padding-right: 24px;
  }
}

@media screen and (max-width: 320px) {
  .page__header {
    padding-left: 16px;
    padding-right: 16px;
  }
}
