.photo-grid {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-template-rows: repeat(3, 1fr);
	max-width: 1184px;
	gap: 16px 16px;
	position: relative;
  left: -100px;
  width: calc(100% + 100px*2);
}