.footer__author {
  font-family: 'Inter', 'Arial', 'Helvetica', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  /* identical to box height, or 114% */
  text-align: right;
  color: #FFFFFF;
  margin: 0;
}

@media screen and (max-width: 760px) {
  .footer__author {
    margin-top: 48px;
  }
}

@media screen and (max-width: 320px) {
  .footer__author {
    line-height: 14px;
    width: 100%;
    text-align: start;
  }
}
