.cover {
	background-image: url('../../images/cover-trains.jpg');
	/* max-width: 1184px; */
	height: 740px;
	/* object-fit: fill;
	object-position: center; */
	box-sizing: border-box;
	background-size: cover;
	background-position: center;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	z-index: 5;
	position: relative;
  left: -100px;
  width: calc(100% + 100px*2);
}

.cover::before {
	content: ' ';
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	background-color: #2A2C2F;
	opacity: 0.3;
}

.cover:hover::before {
	opacity: 0.8;
}