.cover__title {
font-family: Inter;
font-style: normal;
font-weight: 900;
font-size: 72px;
line-height: 76px;
/* or 106% */
text-align: center;
color: #FFFFFF;
z-index: 10;
/* max-width: 560px; */
width: 47%;
margin: 0;
}