.cover__title {
  font-family: 'Inter', 'Arial', 'Helvetica', sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 72px;
  line-height: 76px;
  /* or 106% */
  text-align: center;
  color: #FFFFFF;
  z-index: 10;
  width: calc(560px / 100vh);
  margin: 0px;
  max-width: 560px;
  min-height: 70px;
  padding-top: 245px;
  outline: 1px solid white;
}


@media screen and (max-width: 1024px) {
  .cover__title {
    left: -48px;
    width: calc(100% + 48px*2);
    padding-top: 195px;
  }
}

@media screen and (max-width: 768px) {
  .cover__title {
    padding-top: 115px;
    left: -24px;
    width: calc(100% + 24px*2);
  }
}

@media screen and (max-width: 520px) {
  .cover__title {
    padding-top: 85px;
    left: -16px;
    width: calc(100% + 16px*2);
    width: 90%;
    font-size: 52px;
    line-height: 55px;
  }
}

@media screen and (max-width: 320px) {
  .cover__title {
    padding-top: 33px;
    font-size: 32px;
    line-height: 35px;
  }
}
