.place {
	display: grid;
	grid-template-columns: fit-content(460px) fit-content(484px);
	grid-template-rows: repeat(2, max-content);
	outline: 1px solid white;
	min-height: 434px;
  column-gap: 40px;
  row-gap: 48px;
	max-width: 984px;
  width: 100%;
}

@media screen and (max-width: 1024px) {
  .place {
    column-gap: 32px;
  }
}

@media screen and (max-width: 768px) {
  .place {
    column-gap: 28px;
  }
}

@media screen and (max-width: 440px) {
  .place {
    grid-template-columns: fit-content(320px);
    grid-template-rows: repeat(3, max-content);
    row-gap: 32px;
    justify-content: center;
  }
}


