.page__footer {
  padding-top: 92px;
  padding-bottom: 24px;
	margin: 0 auto;
}

@media screen and (max-width: 1280px) {
  .page__footer {
    padding-left: 48px;
    padding-right: 48px;
  }
}

@media screen and (max-width: 1024px) {
  .page__footer {
    padding: 64px 24px 16px;
  }
}

@media screen and (max-width: 320px) {
  .page__footer  {
    padding-left: 16px;
    padding-right: 16px;
  }
}
